{% set mapHeight = height ? height ~ 'px' : '100vh' %}
<div{{ attributes }}
    data-poll="delay({{ refreshInterval }})|refreshMap"
>
    <style>
        .map-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: {{ mapHeight }};
            backdrop-filter: blur(5px);
            transition: backdrop-filter 0.5s ease;
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .map-overlay.deblur {
            backdrop-filter: blur(0px);
            transition: backdrop-filter 0.5s ease, z-index 0s 0.5s;
            z-index: 0;
        }

        .map-loading {
            overflow: hidden;
        }

        /* Hide markers and tooltips during loading */
        .map-loading .leaflet-marker-pane,
        .map-loading .leaflet-tooltip-pane,
        .map-loading .leaflet-popup-pane,
        .map-loading .leaflet-shadow-pane {
            visibility: hidden;
        }

        .map-loading.map-loaded .leaflet-marker-pane,
        .map-loading.map-loaded .leaflet-tooltip-pane,
        .map-loading.map-loaded .leaflet-popup-pane,
        .map-loading.map-loaded .leaflet-shadow-pane {
            visibility: visible;
        }

        .overlay-text {
            background-color: rgba(255, 255, 255, 0.9);
            padding: 10px;
            border-radius: 5px;
            font-family: Arial, sans-serif;
            font-size: 18px;
            font-weight: bold;
            animation: fadeIn 1s forwards;
        }

        .text-animation {
            opacity: 0;
            animation: fadeIn 1s forwards;
        }

        @keyframes fadeIn {
            to {
                opacity: 1;
            }
        }

    </style>
    <div style="position: relative;" class="map-loading {{ false == isLoading and hasMarkers ? 'map-loaded' : '' }}">
        {{ ux_map(map, {'data-controller': 'map', style: 'height: ' ~ mapHeight ~ ';z-index:10'}) }}

        <div class="map-overlay {{ false == isLoading and hasMarkers ? 'deblur' : '' }}">
            {% if isLoading %}
                <div class="overlay-text">Chargement en cours...</div>
            {% endif %}

            {% if false == hasMarkers %}
                <div class="overlay-text">Aucune donnée de géolocalisation</div>
            {% endif %}
        </div>
    </div>
</div>
